.headline {
    box-sizing: border-box;
    color: rgb(15, 15, 25); 
    font-family: Arial, sans-serif;
    font-size: 60px;
    /* height: 80px; */
    /* line-height: 18.4px; */
    padding: 0px;
    fill: none;
    background-color: red;
    text-align: center;
    font-weight: bolder;
    display: inline;

 }
 body {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    max-width: 768px;


 }
 .details {
     box-sizing: border-box;
     color:rgb(123, 123, 123);
     display: block;
     margin-top: 20px;
     line-height: 20px;
     margin-block-end: 25px;
     background-color: white;
     color: gray;
 }
 